---
import { getCollection, type CollectionEntry } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import BlogMeta from "../../components/BlogMeta.astro";
import "../../styles/global.css";

export async function getStaticPaths({}) {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

export const prerender = true;

interface Props {
    post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<BlogLayout title={post.data.title}>
    <div class="markdown">
        <BlogMeta
            title={post.data.title}
            date={post.data.date}
            tags={post.data.tags}
        />
        <Content />
    </div>
</BlogLayout>
