---

---

<header class="bg-blue-600 text-white p-4">
    <nav class="container mx-auto flex justify-between items-center">
        <div class="text-lg font-bold"><a href="/">wellwich.dev</a></div>
        <ul class="flex space-x-4">
            <li><a href="/" class="hover:underline">Home</a></li>
            <li><a href="/about" class="hover:underline">About</a></li>
            <li><a href="/contact" class="hover:underline">Contact</a></li>
        </ul>
    </nav>
</header>
