---
import { getBlogs, getAllTags } from "../utils/blog";
import TagList from "./TagList.astro";
const posts = await getBlogs();
const tags = getAllTags(posts);
// Sidebar.astro
---

<aside class="mb-8 p-4 border rounded-lg">
    <h2 class="text-xl font-bold mb-4">Tags</h2>
    <TagList tags={tags} />
</aside>
