---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";

var { title, description } = Astro.props;
if (!title) {
    title = "dev.wellwich.com";
} else {
    title = title + " | dev.wellwich.com";
}
if (!description) {
    description =
        "wellwichの技術ブログです。ゲーム開発がメインです。Godot、Phaser3を使ってます。";
}
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" href="/favicon.ico?" type="image/x-icon" />
        <script is:inline>
            window.googletag = window.googletag || { cmd: [] };
        </script>
        <script is:inline>
            googletag.cmd.push(function () {
                googletag
                    .defineSlot(
                        "/23167867665/dev_pc_article_header",
                        [
                            [468, 60],
                            [728, 90],
                        ],
                        "div-gpt-ad-1718059060339-0",
                    )
                    .addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();

                googletag.display("div-gpt-ad-1718059060339-0");
            });
        </script>
    </head>
    <body class="bg-gray-100 text-gray-900">
        <Header />
        <!-- /23167867665/dev_pc_article_header -->
        <div
            id="div-gpt-ad-1718059060339-0"
            style="min-width: 468px; min-height: 60px; margin: 0 auto;"
            class="mx-auto"
        >
        </div>
        <div class="flex flex-col md:flex-row max-w-6xl mx-auto w-full">
            <main class="p-4 md:w-3/5">
                <slot />
            </main>
            <div class="p-4 md:w-2/5">
                <Sidebar />
            </div>
        </div>
        <Footer />
    </body>
</html>
